* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(197, 228, 211, 0.952);
  min-height: 100vh;
}

button {
  width: 120px;
  height: 30px;
  margin: 18px;
  padding: 5px;
  color: rgb(161, 203, 216);
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}


.container {
  height: 500px;
  width: 550px;
  background: linear-gradient(to right, rgb(163, 192, 163), rgb(117, 143, 117));
  border-radius: 15px;
  padding: 30px;
  box-shadow: 1 1 5px;
  display: grid;
  grid-template-columns: repeat(8, auto);
  grid-template-rows: repeat(8, auto);
  grid-gap: 1rem;
  align-items: center;
  justify-content: center;
}


.card {
  background-color: transparent;
  width: 50px;
  height: 90px;
  perspective: 8000px;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.face, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.face {
  color: black;
  transform: rotateY(180deg);
}

.back {
  background-color:whitesmoke;
}

.flip {
  transform: rotateY(180deg);
}


.card {
  transform: rotateY(180deg);
}

#card-container {
  display: none;
}