* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* I added background color for all body element */
body {
  background-color: rgba(197, 228, 211, 0.952);
  min-height: 100vh;
  
  text-align: -webkit-center;
}

h2 {
    text-align: center;
    color: rgb(126, 126, 126);
}
button {
  width: 120px;
  height: 30px;
  margin: 18px;
  padding: 5px;
  color: rgb(161, 203, 216);
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

p#button-p {
  padding: 2rem;
}

/* I added gameboard here, and put images nicely on this container, it seems more tidy like that, 
I used grid system for display */
.container {
  height: 550px;
  width: 450px;
  background: linear-gradient(to right, rgb(163, 192, 163), rgb(117, 143, 117));
  border-radius: 15px;
  padding: 30px;
  box-shadow: 1 1 5px;
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 1rem;
  align-items: center;
  justify-content: center;
}


.card {
  background-color: transparent;
  width: 50px;
  height: 90px;
  perspective: 8000px;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
/*I added postion absolute for "face" and "back" side of images and for ".card-inner" calss I added realiteve */
.face, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.face {
  transform: rotateY(180deg);
}

/*for flipping card*/
.flip {
  transform: rotateY(180deg);
}

.card {
  transform: rotateY(180deg);
}

#card-container {
  display: none;
}
/*for remove cards when they match on gameboard*/
.hide {
  display: none;
}
/* for other divices view*/
@media (max-width: 768px) {
  body {
    width: 100%;
  }

  .container {
   width: 100%;
   grid-gap: 0;
  }
}